/* .showcase {
  width: 850px;
  background: url("img/showcase2.jpg.jpg") no-repeat center center/cover;
  height: 40vh;
} */
.showcase {
  background: url("img/quangcao4.gif") no-repeat center center/cover;
  height: 30vh;
  margin-top: 30px;
}
.banner {
  background: url("img/quangcao6.gif") no-repeat center center/cover;
  height: 40vh;
}
.banner-footer {
  background: url("img/quangcao5.gif") no-repeat center center/cover;
  height: 40vh;
}
.banner-dangtin {
  background: url("img/mobilegif2.gif") no-repeat center center/cover;
  height: 60vh;
}
.banner-car {
  background: url("img/bannercar.gif") no-repeat center center/cover;
  height: 60vh;
  margin: 0px 50px;
}
.banner-pet {
  background: url("img/bannerthucung.gif") no-repeat center center/cover;
  height: 60vh;
  margin: 0px 50px;
}
.banner-tuyendung {
  background: url("img/tuyendung.png") no-repeat center center/cover;
  height: 60vh;
  margin: 0px 50px;
}
.banner-dangtin2 {
  background: url("img/bannerdoc5.png") no-repeat center center/cover;
  background-size: 100% 100%;
  height: 100vh;
}
.banner-create-profile {
  background: url("img/createprofilegif.gif") no-repeat center center/cover;
  height: 50vh;
  margin: 0px 50px;
}
.banner-login {
  background: url("img/quangcaologin.gif") no-repeat center center/cover;
  height: 45vh;
  margin: 0px 50px;
}
.banner-register {
  background: url("img/quangcao14.gif") no-repeat center center/cover;
  height: 40vh;
  margin: 0px 50px;
}
.banner-about {
  background: url("img/member.gif") no-repeat center center/cover;
  height: 30vh;
}
.mobile-banner {
  background: url("img/quangcao13.gif") no-repeat center center/cover;
  height: 65vh;
  margin: 0px 50px;
}
.bike-banner {
  background: url("img/bannercar2.gif") no-repeat center center/cover;
  background-size: 100% 100%;
  height: 65vh;
  margin: 0px 50px;
}
.fashion-banner {
  background: url("img/thoitrang.jpg") no-repeat center center/cover;
  background-size: 100% 100%;
  height: 65vh;
  margin: 0px 50px;
}
.banner-infomation {
  background: url("img/quangcao14.gif") no-repeat center center/cover;
  height: 50vh;
  margin: 0px 50px;
}
.mobile_single-banner {
  background: url("img/bannerdoc8.jpg") no-repeat center center/cover;
  background-size: 100% 100%;
  height: 100vh;
}
.mobile_single {
  background: url("img/mobilesinglebannergif.gif") no-repeat center center/cover;
  background-size: 100% 100%;
  margin: 0px 50px;
  height: 50vh;
}
.bike_details {
  background: url("img/bannercar3.gif") no-repeat center center/cover;
  background-size: 100% 100%;
  margin: 0px 50px;
  height: 50vh;
}
.box-about {
  display: flex;
  margin-bottom: 30px;
  justify-content: space-around;
}
.homepage-title {
  padding-left: 50px;
  margin-top: 20px;
  width: 100%;
}

.overlay {
  float: left;
  margin: 0em 3em 1em 0em;
}
.overlay .menu {
  position: relative;
  left: 0;
  transition: left 0.5s ease;
}

.main.menu.fixed {
  background-color: #ffffff;
  border: 1px solid #ddd;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}
.overlay.fixed .menu {
  left: 800px;
}
.feed {
  text-align: center;
}
/* .ui.button {
  margin: 0 0.25em 0 20px;
} */

.banner-doc {
  background: url("img/bannerdoc.jpg") no-repeat center center/cover;
  height: 70vh;
}
.banner-doc9 {
  background: url("img/bannerdoc9.jpg") no-repeat center center/cover;
  height: 100vh;
}
.banner-doc10 {
  background: url("img/bannerdoc10.jpg") no-repeat center center/cover;
  height: 100vh;
}
.banner-doc2 {
  background: url("img/bannerdoc2.jpg") no-repeat center center/cover;
  height: 80vh;
}
.ui.feed {
  border: 1px solid #22242626;
  padding: 20px 10px;
  border-radius: 3px;
}
@keyframes slider {
  0% {
    left: 0;
  }
  50% {
    left: -100%;
  }
  100% {
    left: -200%;
  }
}
#slider {
  overflow: hidden;
  margin: 0px 00px;
  border-radius: 4%;
  
}
#slider figure img {
  width: 20%;
  float: left;
  height: 60vh;
}
#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 5s slider infinite;
}
.bem {
  margin: 20px;
}
.ui.card {
  margin: 20px 0px;
}
.cot {
  padding-left: 85px;
}
.banner-trangchu {
  background: url("img/bannerdoc7.jpg") no-repeat center center/cover;
  height: 75vh;
}
.banner-trangchu2 {
  margin: 20px 0px;
  background: url("img/bannerdoc3.gif") no-repeat center center/cover;
  height: 80vh;
}
.banner-trangchu3 {
  background: url("img/bannergif.gif") no-repeat center center/cover;
  height: 30vh;
  margin-bottom: 20px;
}
.banner-trangchu4 {
  background: url("img/bannergif2.gif") no-repeat center center/cover;
  height: 30vh;
  margin-bottom: 20px;
}
.banner-trangchu5 {
  background: url("img/bannergif3.gif") no-repeat center center/cover;
  height: 30vh;
}

.banner-trangchu6 {
  background: url("img/bannergif4.gif") no-repeat center center/cover;
  height: 30vh;
  text-align: center;
  font-size: 30px;
}
.banner-trangchu7 {
  background: url("img/bannergif5.gif") no-repeat center center/cover;
  height: 30vh;
}
.mobile-gif {
  background: url("img/mobilegif.gif") no-repeat center center/cover;
  height: 15vh;
  width: 15vh;
  margin-bottom: 20px;
  border-radius: 25%;
}
.bike-gif {
  background: url("img/bikegif.gif") no-repeat center center/cover;
  height: 15vh;
  width: 15vh;
  margin-bottom: 20px;
  border-radius: 25%;
}
.fashion-gif {
  background: url("img/fashiongif.gif") no-repeat center center/cover;
  height: 15vh;
  width: 15vh;
  margin-bottom: 20px;
  border-radius: 25%;
}
.dog-gif {
  background: url("img/doggif.gif") no-repeat center center/cover;
  height: 15vh;
  width: 15vh;
  margin-bottom: 20px;
  border-radius: 25%;
}
.job-gif {
  background: url("img/jobgif.gif") no-repeat center center/cover;
  height: 15vh;
  width: 15vh;
  margin-bottom: 20px;
  border-radius: 25%;
}
.menu-hompage {
  display: flex;
  justify-content: space-around;
}
.banner-addmobile {
  background: url("img/bannerdoc2.jpg") no-repeat center center/cover;
  height: 70vh;
}
.banner-addmobile2 {
  background: url("img/bannerdoc3.gif") no-repeat center center/cover;
  height: 75vh;
}
.banner-quangcao15 {
  background: url("img/quangcao15.gif") no-repeat center center/cover;
  height: 50vh;
  margin: 0px 50px;
}
.icon-nho{
  font-size: 13px;
  font-family: Helvetica,Arial,Roboto,sans-serif;
  min-height: 80px;
  font-style: italic;
}
.div-DM{
  background-color: bisque;
  border-radius: 5%
  /* margin:50px; */
}

.div-NewPost{
  background-color: bisque;
  border-radius: 5%;
  /* margin:50px; */
}
.main{
  background: url("img/bg.png") no-repeat ;
  /* center center/cover; */
  /* background-color: blueviolet; */
  background-attachment :fixed;
  /* text-align: center; */
/* margin-left: 100px; */
}
.heo{
  background-color: blueviolet;
}
.iconQlt{
  background: url("img/icon_qlt.jpg")no-repeat center center/cover ;
  height: 50px;
  width: 50px;
}
.date{
  margin-left: 100px;
}
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
button {
  font: inherit;
}

/* html {
  font-size: 1.5rem;
}

body {
  background-color: #000;
  font-family: 'Nunito', sans-serif;
}

p {
  color: whitesmoke;
  margin-top: 0.5em;
} */

article {
  margin: 1em;
  padding: 1em;
  background-color: midnightblue;
  color: whitesmoke;
  border-radius: 15px;
}
/* 
img {
  border-radius: 15px;
  display: block;
} */

/* header {
  background-color: gold;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.search {
  width: 50%;
  height: 50px;
  padding: 10px;
  padding-top: 30px;
  border: 2px solid #000;
  border-radius: 2em;
  overflow: hidden;
  font-size: 1rem;
  display: flex;
  flex-flow: row nowrap;
}

.search:focus-within {
  box-shadow: 2px 2px 5px #000;
}

.search__button,
.search__input {
  background-color: #fff;
  border: none;
  padding-left: 150px;
  width: 70px;
  height: 70px;
  /* padding: top 20px; */
  outline: none;
}

.search__input {
  padding: 1em;
  width: 50%;
}

.search__button {
  width: 15%;
  font-size: 1.5rem;
  padding-right: 0.5em;
  color: gray;
  display: grid;
  place-content: center;
}

@media (min-width: 576px) {
  .search {
    font-size: 1.5rem;
  }

  .search__button {
    font-size: 2rem;
  }
}

@media (min-width: 800px) {
  .search {
    width: 75%;
    font-size: 2rem;
  }

  .search__button {
    padding-right: 0.5em;
    font-size: 3rem;
  }
}